@import "tailwindcss";


:root {
  --background: rgb(4, 0, 5);
  --foreground: #ffffff;
}

@theme {
  --color-brand: #ff0000;
  --color-bcolor: rgb(4, 0, 5);
  --color-accent: #A656E1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(4, 0, 5);
    --foreground: #ededed;
  }
}


html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slime {
  0% {
    border-radius: 30% 70% 55% 45% / 40% 45% 55% 60%;
  }
  25% {
    border-radius: 60% 40% 45% 55% / 50% 60% 40% 50%;
  }
  50% {
    border-radius: 50% 50% 60% 40% / 60% 40% 50% 50%;
  }
  75% {
    border-radius: 45% 55% 40% 60% / 55% 50% 60% 45%;
  }
  100% {
    border-radius: 30% 70% 55% 45% / 40% 45% 55% 60%;
  }
}

@keyframes migation {
  0% {
    border-color: transparent; 
  }
  50% {
    border-color: var(--color-accent); 
  }
  100% {
    border-color: transparent; 
  }
}

.animate-migation {
  animation: migation 1s ease-in-out infinite;
}

.animate-slime {
  animation: slime 8s ease-in-out infinite;
  border: 1 px solid var(--color-accent);
}

